.card-text {
    font-size: 20px;
}

button {
    padding: 10px;
    margin: 10px
}

.picture2 {
    display: none;
}
.thumbnail:hover .picture1 {
    display: none;
}
.thumbnail:hover .picture2 {
    display: block;
}